@import url('https://fonts.googleapis.com/css2?family=Inter&family=Teko:wght@300;400;500;600;700&display=swap');

/* color palette from figma designs */
:root {
  --gray-100: #FFF;
  --gray-200: rgba(0, 0, 0, 0.30);
  --gray-300: rgba(102, 110, 125, 0.5);
  --gray-400: #DCDFE3;

  --white-100: rgba(255, 255, 255, 0.87);
  --white-200: rgba(255, 255, 255, 1);
  --white-300: #F9F9FB;
  --white-400: rgba(249, 249, 251, 1);

  --black-100: rgba(0, 0, 0, 0.87);

  --purple-100: #605DEC;
  --purple-200: #344293;
  --purple-300: #5D5FEF;
}

/* font family variables from figma designs */
:root {
  --font-family-inter:  'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


*:focus {
  outline: none;
}
